<!DOCTYPE html>
<html lang="ko">
<head>
    <title>spring loves React.js</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="google" value="notranslate" />
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

나와라 얍

<div id="contents"></div>


<script type="text/javascript" src="/bundle.js"></script>
</body>
</html>
